@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Barlow';
        src: url(./assets/fonts/Barlow/Barlow-Regular.ttf);
    }

    @font-face {
        font-family: 'Barlow';
        src: url(./assets/fonts/Barlow/Barlow-Medium.ttf);
        font-weight: 500;
    }

    @font-face {
        font-family: 'Barlow';
        src: url(./assets/fonts/Barlow/Barlow-Bold.ttf);
        font-weight: 700;
    }

    @font-face {
        font-family: 'Barlow';
        src: url(./assets/fonts/Barlow/Barlow-Black.ttf);
        font-weight: 900;
    }
}

body {
    font-family: "Barlow";
    font-weight: 400;
}

.partial-bg-gray {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, theme('colors.gray') 10%, theme('colors.gray') 90%, rgba(57, 0, 255, 0) 90%);
}